<div class="section1">
	<mat-toolbar id="header">

		<span>Video Conference Rooms for raxacademy</span>
		<span class="example-spacer"></span>
		<span>
			<a  class="loginLink" routerLink="login">login</a>
		</span>
	</mat-toolbar>
	<div >


		<div  id="requiredNameError" *ngIf="roomForm.hasError('required')">
			Room name is <strong>required</strong>
		</div>
		<div  id="shortNameError" *ngIf="roomForm.hasError('minlength')">
			Room name is <strong>too short!</strong>
		</div>

		<mat-toolbar class="transparent">


			<form class="white" [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">


				<!--
					<input matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButton" id="joinButton" >JOIN</button>
				-->


				<mat-form-field class="roomid">
					<mat-label>Select Room</mat-label>
					<mat-select  [formControl]="roomForm" >
						<mat-option  *ngFor="let room of rooms" [value]="room">
							{{room}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<button mat-button type="submit" id="joinButton" >JOIN</button>

			</form>
			<span class="example-spacer"></span>
		</mat-toolbar>

		<div class="url" *ngIf="isAdmin()">
			<div  *ngFor="let r of recordings_urls; index as i">
				<a href='{{r["url"]}}'>{{r["name"]}} </a>
				<button *ngIf='r["status"] == "ready"' (click)='deleteRecording(i)'>delete</button>
			</div>
		</div>


	</div>




	<mat-toolbar class="footer">
		<span>
			Photo by
			<a
				rel="noopener noreferrer"
				target="_blank"
				href="https://unsplash.com/@danielleone?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
			>
				Daniel Leone
			</a>
			on
			<a
				href="https://unsplash.com/s/photos/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
				target="_blank"
			>
				Unsplash
			</a>
		</span>

	</mat-toolbar>
</div>
